@font-face {
    font-family: 'Bubble Games';
    src: url('BubbleGames.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {

    font-family: 'Bubble Games';
    font-size: 16px;
    color: black:
}

h1 {
    text-align: center;
}

section {
    width: 80%;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
}